DEFAULT_CURRENCY=usd
DEFAULT_LOOKBACK_DAYS=90
COINGECKO_BASE_URL=https://api.coingecko.com/api/v3
CACHE_TTL_SECONDS=300
COINGECKO_TIMEOUT_SECONDS=10
COINGECKO_MAX_ATTEMPTS=3
COINGECKO_BACKOFF_SECONDS=0.75
